.notification {
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--grey-900);
  color: var(--white);
  padding: 1.6875rem 1.625rem 1.5rem 1.625rem;
  border-radius: 0.75rem;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.15s ease-in-out;
}

.notification[aria-hidden="false"] {
  z-index: 10;
  opacity: 1;
}

.notification__title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.625rem;
}

.notification__title > img {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.625rem;
}